*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #011F3F;
    font-family: cursive;
    padding: 50px 0;
}

#title{
    text-align: center;
    color: #FEF2BF;
    font-size: 50px;
}

#highScore{
    color: #FEF2BF;
    margin-top: 70px;
    font-size: 30px;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
}

.main{
    width: 70%;
    /* border: 1px solid white; */
    height: auto;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.box{
    width: 200px;
    height: 200px;
    border: 10px solid black;
    border-radius: 30px;
    margin: 20px;
}

#green{
    background-color: green;
}
#red{
    background-color: red;
}
#yellow{
    background-color: yellow;
}
#blue{
    background-color: blue;
}

.gameOver{
    background-color: red;
}

.pressed{
    box-shadow: 0 0 20px white;
    background-color: grey;
  }